Мы собрали побольше данных о котиках и собачках, и готовы обучить нашего робота их классифицировать! Скачайте тренировочный датасэт и  обучите на нём Decision Tree. После этого скачайте датасэт из задания и предскажите какие наблюдения к кому относятся. Введите число собачек в вашем датасэте.

В задании допускается определённая погрешность.

P. S.: данные в задании находятся в формате json, используйте метод pd.read_json для их прочтения

In [19]:
from sklearn import tree
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [20]:
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score

In [21]:
rs = np.random.seed(0)

In [22]:
df = pd.read_csv(r"https://stepik.org/media/attachments/course/4852/dogs_n_cats.csv")

In [42]:
df.columns

Index(['Длина', 'Высота', 'Шерстист', 'Гавкает', 'Лазает по деревьям', 'Вид'], dtype='object')

In [23]:
df

     Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0       15    18.0         1        1                   0  собачка
1       20    24.0         1        0                   0  собачка
2       34    40.8         1        1                   0  собачка
3       26    31.2         1        1                   0  собачка
4       16    19.2         1        1                   0  собачка
..     ...     ...       ...      ...                 ...      ...
995      8     3.2         1        0                   1    котик
996      7     2.8         1        0                   1    котик
997      6     2.4         1        0                   1    котик
998      7     2.8         1        0                   1    котик
999     11     4.4         1        0                   1    котик

[1000 rows x 6 columns]

In [43]:
X = df.drop(['Вид'], axis=1)

In [44]:
X

     Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0       15    18.0         1        1                   0
1       20    24.0         1        0                   0
2       34    40.8         1        1                   0
3       26    31.2         1        1                   0
4       16    19.2         1        1                   0
..     ...     ...       ...      ...                 ...
995      8     3.2         1        0                   1
996      7     2.8         1        0                   1
997      6     2.4         1        0                   1
998      7     2.8         1        0                   1
999     11     4.4         1        0                   1

[1000 rows x 5 columns]

In [45]:
y = df.Вид

In [46]:
y

0      собачка
1      собачка
2      собачка
3      собачка
4      собачка
        ...
995      котик
996      котик
997      котик
998      котик
999      котик
Name: Вид, Length: 1000, dtype: object

In [48]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [49]:
X_train.shape

(670, 5)

In [50]:
X_test.shape

(330, 5)

In [51]:
clf = tree.DecisionTreeClassifier(criterion='entropy')

In [52]:
clf.fit(X, y)

DecisionTreeClassifier(criterion='entropy')

In [53]:
clf.score(X, y)

1.0

In [54]:
df_test = pd.read_json(r'D:\YandexDisk\datasets\dataset_209691_15.json')

In [55]:
df[:2]

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка

In [56]:
df_test[:2]

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     32    38.4         1        1                   0
1     31    37.2         0        1                   0

In [58]:
result = clf.predict(df_test)

In [59]:
pd.Series(result)[result == 'собачка'].count()

54