In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://stepik.org/media/attachments/course/4852/titanic.csv')

In [4]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [5]:
df.shape

(891, 12)

In [8]:
df.dtypes.value_counts()

object     5
int64      5
float64    2
dtype: int64